html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

.left {
    float: left;
    width: 50%;
}

.right {
    margin-left: 50%;
}

.errorlist {
    color : red;
}

textarea:disabled {
    background: #FFF;
    border-color: #FFF;
    white-space: normal;
    resize: none;
}

#loading-div {
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}

table.tablesorter thead tr th:last-child{
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
}
table.tablesorter thead > tr > th.tablesorter-header.header.tablesorter-headerAsc {
    background-image: url(../img/asc.gif);
}
table.tablesorter thead > tr > th.tablesorter-header.header.tablesorter-headerDesc {
    background-image: url(../img/desc.gif);
}