{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <h1>42 Coffee Cups Test Assignment</h1>
        {% if not user.is_authenticated %}
            <h1>Please, login to admin page to see contact information</h1>
        {% else %}

        <div class="left">
            <p>Name: {{ contacts.first_name }} </p>
            <p>Last name: {{ contacts.last_name }}</p>
            <p>Date of birth: {{ contacts.date_of_birth }}</p>
            <p>Bio: {{ contacts.bio }} </p>
        </div>
        <div class="right">
            <p>Contacts</p>
            <p>Email: {{ contacts.email }} </p>
            <p>Jabber: {{ contacts.jabber }} </p>
            <p>Skype: {{ contacts.skype }} </p>
            <p>Other Contacts: {{ contacts.other_contacts }} </p>
        </div>

        {% endif %}

    </body>
</html>
