{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <h1>42 Coffee Cups Test Assignment</h1>
        {% if not user.is_authenticated %}
            <h1>Please, login to admin page to see contact information</h1>
        {% else %}

        <div class="left">
            <p>Name: {{ user.first_name }} </p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Date of birth: {{ user.date_of_birth }}</p>
            <p>Bio:</p>
            <textarea rows="4" cols="50" disabled>
                {{ user.bio }}
            </textarea>
        </div>
        <div class="right">
            <p>Contacts</p>
            <p>Email: {{ user.email }} </p>
            <p>Jabber: {{ user.jabber }} </p>
            <p>Skype: {{ user.skype }} </p>
            <p>Other Contacts:</p>
            <textarea rows="4" cols="50" disabled>
             {{ user.other_contacts }}
            </textarea>
        </div>

        {% endif %}
        <a href="{% url 'requests' %}">Requests</a>
    </body>
</html>
