{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<script src="{% static 'js/form.js' %}"></script>
<div id="loading-div" style="display: none;">
</div>
<p id="message"></p>

<form action="{% url 'contact_form' %}" method="post" id="contactform" enctype="multipart/form-data">
    <div id="ajaxform">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% crispy form %}
    <input class="btn" type="submit" value="Save" id="savebutton"/>
    </div>
  </form>

{% endblock %}