{% extends "base.html" %}
{% block content %}
        {% if not user.is_authenticated %}
            <h1>Please, login to see contact information</h1>
        {% else %}

        <div class="left">
            <p>Name: {{ user.first_name }} </p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Date of birth: {{ user.date_of_birth }}</p>
            <img class="img-responsive" style="max-width: 70%" src="uploads/{{ user.image }}">
        </div>
        <div class="right">
            <p>Contacts</p>
            <p>Email: {{ user.email }} </p>
            <p>Jabber: {{ user.jabber }} </p>
            <p>Skype: {{ user.skype }} </p>
            <p>Other Contacts:</p>
            <textarea rows="4" cols="50" disabled>
             {{ user.other_contacts }}
            </textarea>
            <p>Bio:</p>
            <textarea rows="4" cols="50" disabled>
                {{ user.bio }}
            </textarea>
        </div>

        {% endif %}
 {% endblock %}