{% extends "base.html" %}
{% block content %}
<h1>Requests:</h1>
<div id="requests">
<p id="request"> </p>
</div>
<a href="{% url 'home' %}">Back to Contact page</a>
<script>
var getRequests = function(){
          $.ajax({
              async: true,
              type: "GET",
              url: "/get_requests/",
              success: function(data){
                  var $requestHolder = $('#request');
                  $requestHolder.empty();
                  $.each(JSON.parse(data), function(idx, obj) {
                       $requestHolder.append(obj.fields.host + " " + obj.fields.path + " " + obj.fields.method + " " + obj.fields.status_code + "<br/>")
                  })
                  setTimeout(getRequests, 2000)
              }
          });
};

getRequests();
</script>
{% endblock %}